@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.container {
  padding: 80px 100px;
  background: #ffff;
}

.contactBox {
  margin: auto;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.heading {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.subtext {
  font-size: 16px;
  color: #555;
  max-width: 600px;
  margin: 0 auto 40px;
}

.formCard {
  flex: 1;
  min-width: 420px;
  background: #dfe8e2;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.formCard h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

.formCard label {
  display: block;
  margin-top: 18px;
  font-weight: 600;
  font-size: 14px;
}

.formCard input,
.formCard textarea {
  width: 100%;
  padding: 14px;
  margin-top: 6px;
  border-radius: 10px;
  border: none;
  background: #ffffff;
  font-size: 14px;
  outline: none;
}

.formCard textarea {
  resize: none;
}

.btn {
  margin-top: 25px;
  width: 100%;
  padding: 14px;
  background: #0aa03c;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #089933;
}

.rightSide {
  flex: 1;
  min-width: 380px;
}

.infoCard {
  background: #e6ecf3;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.infoCard h2 {
  margin-bottom: 25px;
  font-size: 28px;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.icon {
  width: 50px;
  height: 50px;
  background: #cfe0ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0a7c4a;
}

.infoItem h4 {
  margin: 0;
  font-size: 16px;
}

.infoItem p {
  margin: 3px 0 0;
  font-size: 14px;
  color: #475569;
}

