.maincontainer{
display: flex;
align-items: center;
justify-content: center;
height: 100vh;

}
.container{
    max-width: 500px;
    width: 100%;
    background-color: plum;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}


.formContainer{

    background-color: orange;
text-align: center;
display: flex;
flex-direction: column;
    gap: 10px;
}