* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
button {
  margin: 250px auto;
}
#button {
  border: 5px solid rgb(249, 245, 245);
  background-color: rgb(93, 247, 79);
  border-radius: 20px;
  width: 500px;
  height: 100px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover {
  box-shadow: 0px 0px 10px 10px rgb(179, 255, 0);
  transform: translateY(-30px);
  border: 2px solid rgb(233, 128, 36);
}
