*{
    padding: 0px;
    margin: 0px;
}
.container{
    /* width: 20%; */
    background: palegreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding: 12px;
    height: 78.5vh;
}

.chnager{
color: red;
font-size: 16px;
margin-top: 100px;
}