*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#btn{
    padding: 10px 10px;
    border-radius: 10px;
    width: 150px;
    background-color: rgb(228, 228, 228);
}
form{
    width: 280px;
    height: 350px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    gap: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
}
h3{
    text-align: center;
}
input,button{
    width: 100%;
    padding: 5px 5px;
    border-radius: 8px;
    border: none;
    background-color: white;
}
